<%= form_for(User.new, url: '/login') do |f| %>

  <div class="form-group">
    <%= f.label :username %>
    <br>
    <%= collection_select(:user, :username, User.all, :username, :username, prompt: "Please select your username from this dropdown") %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <br>
    <%= f.password_field :password, class: "form-control" %>

    <div class="actions">
      <br/>
      <%= f.submit "Sign IN" %>
    </div>

<% end %>