<div class="container form-group">
  <h1>Add a new festival:</h1>

  <% if @festival.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@festival.errors.count, "error") %> prohibited this festival from being saved:</h3>

      <ul>
        <% @festival.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'layouts/errors', locals: {object: @festival}  %>

  <%= form_for @festival do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %><br>
    <%= f.label :theme %>
    <%= f.text_field :theme, class: "form-control" %><br>
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %><br>
    <p>Select a city that already exists:</p>
    <%= f.collection_select :city_id, City.all, :id, :name %><br>
    <p>Or create a new city:</p>
    <%= f.fields_for :city do |c| %>
      <%= c.label :name %>
      <%= c.text_field :name, class: "form-control" %><br>
    <% end %>
    <%= f.submit "Add Festival", class: "btn btn-default" %>
  <% end %>
</div>