<h1><%= @festival.name %></h1>


  <h4><%= @festival.name %> - <%= @festival.city.name %>, <%= @festival.city.state %></h4>
  <h5>Theme: <%= @festival.theme %></h5>
  <h5>Description: <%= @festival.description %></h5>

  <p>Added by: <%= link_to @festival.user.name, user_path(@festival.user)%>
<br>
  <%= link_to "Edit #{@festival.name}", edit_festival_path(@festival) if @festival.user == current_user%></p>

<%= link_to "See all Reviews", festival_reviews_path(@festival) %>
<hr>