<% if @festival %>
  <h1>Reviews for <%= @festival.name%> - <%= @festival.city.name%></h1>
<% else %>
  <h1>All Reviews </h1>
<% end %>

<ul>
  <% @reviews.each do |review| %>

    <li>
      <%= link_to review.festival.name, review_path(review)%> - <%= review.rating%>
      <br>
      <%= review.content %>
      <p>Author: <%= review.user.name%></p>
    </li> <br>

  <% end %>
</ul>