<% if @festival %>
  <h2>Reviews for the <%= @festival.name%> - <%= @festival.city.name%>, <%= @festival.city.state%></h2>
<% else %>
  <h2>Reviews </h2>
<% end %>

<ul>
  <% @reviews.each do |review| %>

    <li>
      <%= link_to review.festival.name, review_path(review)%> - <%= review.rating%>
      <br>
      <%= review.content %>
      <p>Author: <%= review.user.name%></p>
    </li> <br>

  <% end %>
</ul>