<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">

      <a class="navbar-brand" href="/">Festival Reviews</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Add New Festival", new_festival_path %></li>
        <li><%= link_to "Add New Review", new_review_path %></li>
        <li><%= link_to "View Reviews", reviews_path %></li>
        <li><%= link_to "View Cities", cities_path %></li>
        <li><%= link_to "Log Out", logout_path, method:'delete' %></li>

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>