<!DOCTYPE html>
<html>
  <head>
    <title>Festival Review</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <%= render 'layouts/navigation' %>

  <% if flash(:error) %>
    <h3 style="color:red;"><%= flash[:error] %></h3>
  <% end %>

  <% if flash(:message) %>
    <h3><%= flash[:message] %></h3>
  <% end %>

  <%= yield %>

  <hr>

  <div class="container">
    <footer>
      <p>&copy; 2020 Carla H.</p>
    </footer>
  </div>
  </body>
</html>
