<!DOCTYPE html>
<html>
  <head>
    <title>Festival Review</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>



  </head>

  <body>
  <%= render 'layouts/navigation' %>

  <hr>

  <%= yield %>

  <hr>

  <div class="container">
    <footer>
      <p>&copy; 2020 Carla H.</p>
    </footer>
  </div>
  </body>
</html>
